<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963838677099-nlucjul0nnqtd4vjg2dd03uj3fi6na9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963838677099-nlucjul0nnqtd4vjg2dd03uj3fi6na9t</string>
	<key>API_KEY</key>
	<string>AIzaSyDP_TwlMmwZAo3714uKhJKgQOQhBQr9xSI</string>
	<key>GCM_SENDER_ID</key>
	<string>963838677099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linkommunity.ccis</string>
	<key>PROJECT_ID</key>
	<string>ccis-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>ccis-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963838677099:ios:f31ba65ad622ff94dfe12e</string>
	<key>DATABASE_URL</key>
	<string>https://ccis-connect-default-rtdb.firebaseio.com</string>
</dict>
</plist>